.headers {
  background-color: rgb(228, 246, 223);
}

.AvaterGroups {
  position: absolute;
  left: 0.5%;
  top: 0.5vh;
}

.tablist {
  position: absolute;
  top: 4vh;
  right: 0%;
}

.tabpanelBox {
  padding-top: 8vh;
  display: flex;
  justify-content: center;
}

.avatar {
  border: 2px solid;
  margin-left: -6px;
  background-color: firebrick;
  font-family: fantasy;
}
