.card {
  word-wrap: break-word;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* color: #333; */
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.card-image {
  filter: brightness(0.6);
  transition: filter 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover img {
  filter: brightness(1);
}
